language: node_js
os:
    - linux
    - windows
    - osx
node_js:
    - "stable"
    - "6.4.0"
    - "6.2.2"
    - "4.5.0"
    - "4.0.0"
sudo: false
script:
    - npm test
after_success:
    - npm run coverage